body 
{ margin:0; background-color: #def; 
  margin: 50px; 
  line-height: 140%  
}

div#centerpage
{  width: 95%;
   margin-left: auto;
   margin-right: auto;
   display: table;
   border: 2px solid darkblue;
}

section#main
{  display: table-row;  
   width: 100%;
}

nav.leftnavbar
{  display: table-cell;
   background-color: darkblue;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   width: 7%;
   text-align: right;
   padding-right: 1em;
   padding-left: 0.5em;
   white-space: nowrap;
}

nav.leftnavbar > span.self
{  display: block;
   color: orange;
   border: thin solid transparent;
   margin-top: 1.5em;
   padding-right: 0.5em;
}

nav.leftnavbar > a:link:last-child,
nav.leftnavbar > a:visited:last-child
{  margin-bottom: 1.5em;
}

nav.leftnavbar > a:link,
nav.leftnavbar > a:visited
{  display: block;
   text-decoration: none;  
   color: white;
   border: thin solid transparent;
   margin-top: 2em;
   padding-right: 0.5em;
}

nav.leftnavbar > a:hover
{
   border: thin solid white;
}

section#main > article#content
{  display: table-cell;
   width: 70%;
   background-color: white;
   padding: 2em;
}

div.aside
{  display: table-cell;
   position: relative;
   overflow:hidden;
   background-color: darkblue;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   width: 20%;
   text-align: left;
   padding-right: 1em;
   padding-left: 0.5em;
   white-space: pre-line;
}
div.checkout{
    overflow-y: scroll; 
    height:80%;
    position: absolute; 
    float:left;
    top: 0; 
    right:0; 
    bottom: 0; 
    left: 0;
}
div.checkout > div{
   font-size:small;
}
div.aside > div.total{
   position:absolute;
   float:left;
   color:yellow;
   font-weight: bold;
   bottom:5px;
}
div.checkout > div.att{padding-left:30%;}
.error { color: #a00; }
